$color-primary: #448899;
$color-secondary: #666666;
$color-tertiary:#757575;
$color-border: #E8E8E8;
$color-white: #FFFFFF;
$color-linear-gradient: linear-gradient(270deg, #378 0%, #6AB 100%);

$font-family: Noto Sans TC;