@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.3;
  font-family: Noto Sans TC;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  background-size: cover;
}

/* CSS Reset End */
nav {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #E8E8E8;
}
nav .navWarp {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  text-decoration: none;
}
@media (max-width: 1200px) {
  nav .navWarp {
    width: 90%;
  }
}
nav .navWarp .nav_logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}
nav .navWarp .nav_logo a {
  text-decoration: none;
  color: #448899;
}
nav .navWarp .nav_menu {
  display: flex;
}
nav .navWarp .nav_menu a {
  margin-right: 10px;
  text-decoration: none;
  color: #666666;
}
nav .navWarp .nav_menu a:hover {
  color: #b3b3b3;
}

.banner {
  background: url(/static/image/welcome.png);
  background-size: cover;
  height: 320px;
  margin-top: 54px;
}
.banner .banner_content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 85px 0;
}
@media (max-width: 1200px) {
  .banner .banner_content {
    width: 90%;
  }
}
.banner h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.banner h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.banner .search_input {
  height: 46px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  outline-color: #448899;
  float: left;
  width: 400px;
  padding: 15px;
  align-items: center;
  border-radius: 5px 0 0 5px;
}
@media (max-width: 600px) {
  .banner .search_input {
    width: 80%;
  }
}
.banner .search_btn {
  border: 0;
  width: 60px;
  height: 46px;
  border-radius: 0 5px 5px 0;
  background: #448899 url(/static/image/icon_search.png) center/30px no-repeat;
}
.banner .search_btn:hover {
  cursor: pointer;
  background-color: #346976;
}
@media (max-width: 600px) {
  .banner .search_btn {
    width: 20%;
  }
}

.content_mrtBar {
  height: 50px;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .content_mrtBar {
    width: 90%;
  }
}
.content_mrtBar .mrtBar_btn-left {
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50%;
  padding: 9px 15px;
  background: url(/static/image/arrow-left.svg) center/32px no-repeat;
  transition: opacity 0.3s ease;
}
.content_mrtBar .mrtBar_btn-left:hover {
  cursor: pointer;
  opacity: 0.7;
}
.content_mrtBar .mrtBar_btn-right {
  height: 32px;
  width: 32px;
  border: none;
  border-radius: 50%;
  padding: 9px 15px;
  background: url(/static/image/arrow-right.svg) center/32px no-repeat;
  transition: opacity 0.3s ease;
}
.content_mrtBar .mrtBar_btn-right:hover {
  cursor: pointer;
  opacity: 0.7;
}
.content_mrtBar .mrtBar_list {
  display: -webkit-box;
  overflow: hidden;
}
.content_mrtBar .mrtBar_list a {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
  padding: 5px 15px;
  height: 24px;
  text-decoration: none;
}
.content_mrtBar .mrtBar_list a:hover {
  color: #b3b3b3;
}

main {
  height: 100%;
}
main .content_cards {
  gap: 30px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: flex-start;
}
@media (max-width: 1200px) {
  main .content_cards {
    width: 90%;
  }
}
main .content_cards .cards_card {
  width: calc((100% - 90px) / 4); /* 扣掉 Gap 30px 三份的長度後除四 */
  border-radius: 5px;
  border: 1px solid #E8E8E8;
  position: relative;
  transition: opacity 0.3s ease;
}
main .content_cards .cards_card:hover {
  opacity: 0.7;
}
@media (max-width: 1200px) {
  main .content_cards .cards_card {
    width: calc((100% - 60px) / 3); /* 扣掉 Gap 30px 兩份的長度後除三 */
  }
}
@media (max-width: 900px) {
  main .content_cards .cards_card {
    width: calc((100% - 30px) / 2); /* 扣掉 Gap 30px 一份的長度後除二 */
  }
}
@media (max-width: 600px) {
  main .content_cards .cards_card {
    width: 100%;
  }
}
main .content_cards .cards_card a {
  text-decoration: none;
}
main .content_cards .cards_card img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .content_cards .cards_card .card_name {
  left: 0;
  width: 100%;
  bottom: 45px;
  z-index: 100;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  color: #FFFFFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0.5);
}
main .content_cards .cards_card .card_details {
  padding: 10px;
  display: flex;
  color: #757575;
  justify-content: space-between;
}

footer {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 40px 0 10% 0;
  margin-top: 40px;
  text-align: center;
  background-color: #757575;
}

.attraction_container {
  max-width: 1200px;
  margin: 0 auto;
  color: #666666;
}
@media (max-width: 1200px) {
  .attraction_container {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .attraction_container {
    width: 100%;
  }
}
.attraction_container .attraction_container-top {
  padding: 91px 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 900px) {
  .attraction_container .attraction_container-top {
    padding: 54px 15px 0 15px;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .attraction_container .attraction_container-top {
    padding: 54px 0 0 0;
  }
}
.attraction_container .attraction_container-top .picture {
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}
@media (max-width: 900px) {
  .attraction_container .attraction_container-top .picture {
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20px;
  }
}
.attraction_container .attraction_container-top .picture img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.attraction_container .attraction_container-top .picture .prev, .attraction_container .attraction_container-top .picture .next {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 100;
  height: 36px;
  width: 36px;
  border: none;
  border-radius: 50%;
  background: url(/static/image/btn_leftArrow.png) center no-repeat;
  transition: opacity 0.3s ease;
  opacity: 0.5;
}
.attraction_container .attraction_container-top .picture .prev:hover, .attraction_container .attraction_container-top .picture .next:hover {
  cursor: pointer;
  opacity: 0.7;
}
.attraction_container .attraction_container-top .picture .next {
  left: auto;
  right: 10px;
  background: url(/static/image/btn_rightArrow.png) center no-repeat;
}
.attraction_container .attraction_container-top .picture .dots {
  width: 100%;
  bottom: 8px;
  z-index: 100;
  text-align: center;
  position: absolute;
}
.attraction_container .attraction_container-top .picture .dots .dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.7;
  background-color: #FFFFFF;
  transition: 0.5s transform ease-in-out;
}
.attraction_container .attraction_container-top .picture .dots .dot:hover {
  background-color: #666666;
  border: 2px solid #FFFFFF;
}
.attraction_container .attraction_container-top .picture .dots .active {
  background-color: #666666;
  border: 2px solid #FFFFFF;
}
.attraction_container .attraction_container-top .title {
  width: 100%;
}
@media (max-width: 600px) {
  .attraction_container .attraction_container-top .title {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.attraction_container .attraction_container-top .title .attraction_name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.attraction_container .attraction_container-top .title .attraction_cateMrt {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.attraction_container .attraction_container-top .block {
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #E8E8E8;
}
.attraction_container .attraction_container-top .block h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  display: inline-block;
}
.attraction_container .attraction_container-top .block p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 15px;
}
.attraction_container .attraction_container-top .block .dateSelect {
  border: 0px;
  padding: 5px 10px;
  display: inline-block;
}
.attraction_container .attraction_container-top .block .dateSelect::-webkit-calendar-picker-indicator {
  background-image: url(/static/image/icon_calendar.png);
  background-size: cover;
  opacity: 1;
}
.attraction_container .attraction_container-top .block .radio-up, .attraction_container .attraction_container-top .block .radio-down {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: relative;
  top: 4px;
}
.attraction_container .attraction_container-top .block .radio-up:checked, .attraction_container .attraction_container-top .block .radio-down:checked {
  background-color: #448899;
  border: 2px solid #FFFFFF;
}
.attraction_container .attraction_container-top .block .booking_btn {
  border: none;
  font-size: 19px;
  font-weight: 400;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0 16px 0;
  color: #FFFFFF;
  background-color: #448899;
}
.attraction_container .attraction_container-top .block .booking_btn:hover {
  cursor: pointer;
  background-color: #346976;
}

hr {
  border: 0.5px solid #E8E8E8;
  margin: 40px 0;
}

.attraction_container-bottom {
  max-width: 1200px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.attraction_container-bottom .attraction_description {
  margin-bottom: 20px;
}
.attraction_container-bottom .attraction_address {
  margin-bottom: 20px;
}
.attraction_container-bottom .attraction_address h3 {
  font-weight: 700;
}
.attraction_container-bottom .attraction_transport {
  margin-bottom: 80px;
}
.attraction_container-bottom .attraction_transport h3 {
  font-weight: 700;
}/*# sourceMappingURL=all.css.map */