<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style/all.css">
  <title>台北一日遊</title>
</head>
<body>
  <nav>
    <div class="navWarp">
      <div class="nav_logo">
        <a href="/"><h1>台北一日遊</h1></a>
      </div>
      <ul class="nav_menu">
        <li><a id="booking">預定行程</a></li>
        <li><a id="loginOrSignup">登入/註冊</a></li>
      </ul>
    </div>
  </nav>
  <div id="loadingOverlay" class="spinner-box">
    <div class="pulse-container">  
      <div class="pulse-bubble pulse-bubble-1"></div>
      <div class="pulse-bubble pulse-bubble-2"></div>
      <div class="pulse-bubble pulse-bubble-3"></div>
    </div>
  </div>
  <main class="attraction_container">
    <div class="attraction_container-top">
      <div class="slider">
        <div class="picture">
        </div>
        <button class="prev"></button>
        <button class="next"></button>
        <div class="dots"></div>
      </div>
      <div class="title">
        <div class="attraction_name"></div>
        <div class="attraction_cateMrt"></div>
        <div class="block">
          <h3>訂購導覽行程</h3>
          <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
          <h3>選擇日期：</h3><input class="dateSelect" type="date" placeholder="yyyy-mm-dd" min="2023-09-21">
          <br>
          <h3>選擇時間：</h3><input class="radio-up" type="radio" name="timing" checked><label for="">上半天</label>
                            <input class="radio-down" type="radio" name="timing" ><label for="">下半天</label>
          <br>
          <h3>導覽費用：</h3>新台幣<span class="fee"> 2000 </span>元
          <br>
          <button class="booking_btn" id="bookThisSpot">開始預約行程</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="attraction_container-bottom">
      <div class="attraction_description"></div>
      <div class="attraction_address">
        <h3>景點地址：</h3>
        <p></p>
      </div>
      <div class="attraction_transport">
        <h3>交通方式：</h3>
        <p></p>
      </div>
    </div>
  </main>
  <div id="js-detective"></div>
  <footer>
    COPYRIGHT © 2021 台北一日遊
  </footer>
  <!-- 登入視窗 -->
  <div id="loginModal" class="Modal">
    <div class="border-box">
      <div class="modal-content">
        <span id="loginClose" class="close"></span>
        <h2>登入會員帳號</h2>
        <!-- 登入表單 -->
        <form id="loginForm">
          <input type="email" id="loginEmail" name="email" placeholder="輸入電子信箱" required>
          <input type="password" id="loginPassword" name="password" placeholder="輸入密碼" required>
          <button type="submit">登入帳戶</button>
        </form>
        <div id="loginError" class="errorMsg"></div>
        <div class="question">
          還沒有帳戶？<a id="backToSignup">點此註冊</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 註冊視窗 -->
  <div id="signupModal" class="Modal">
    <div class="border-box">
      <div class="modal-content">
        <span id="signupClose" class="close"></span>
        <h2>註冊會員帳號</h2>
        <!-- 註冊表單 -->
        <form id="signupForm">
          <input type="text" id="signupName" name="name" placeholder="輸入姓名" required>
          <input type="email" id="signupEmail" name="email" placeholder="輸入電子信箱" required>
          <input type="password" id="signupPassword" name="password" placeholder="輸入密碼" required>
          <button type="submit">註冊新帳戶</button>
        </form>
        <div id="signupError" class="errorMsg"></div>
        <div class="question">
          已經有帳戶了？<a id="backToLogin">點此登入</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/js/attraction.js" type="module"></script>
  <script src="/static/js/modal.js" type="module"></script>
</body>
</html>