<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style/all.css">
  <title>台北一日遊</title>
</head>
<body>
  <nav>
    <div class="navWarp">
      <div class="nav_logo">
        <a href="/"><h1>台北一日遊</h1></a>
      </div>
      <ul class="nav_menu">
        <li><a id="booking">預定行程</a></li>
        <li><a id="loginOrSignup">登入/註冊</a></li>
      </ul>
    </div>
  </nav>
  <div id="loadingOverlay" class="spinner-box">
    <div class="pulse-container">  
      <div class="pulse-bubble pulse-bubble-1"></div>
      <div class="pulse-bubble pulse-bubble-2"></div>
      <div class="pulse-bubble pulse-bubble-3"></div>
    </div>
  </div>
  <main class="booking_container">
    <div class="booking_container-top">
      <h2>您好，，待預訂的行程如下：</h2>
      <div class="top_warp">
        <div class="booking_picture">
          <img src="" alt="" class="pictureUrl">
        </div>
        <div class="booking_title">
          <div class="booking_name"></div>
          <div class="booking_detail">
            <h3>日期：</h3><span class="date"></span>
            <br>
            <h3>時間：</h3><span class="time"></span>
            <br>
            <h3>費用：</h3><span class="price"></span>
            <br>
            <h3>地點：</h3><span class="address"></span>
          </div>
        </div>
        <span class="booking_deleteBtn"></span>
      </div>
    </div>
    <hr>
    <div class="booking_container-middle">
      <h2>您的聯絡資訊</h2>
      <label for="order_name">聯絡姓名：</label><input id="nameInput" type="text" required>
      <br>
      <label for="order_email">連絡信箱：</label><input id="emailInput" type="email" required>
      <br>
      <label for="order_tel">手機號碼：</label><input id="telInput" maxlength="10" required>
      <p>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
    </div>
    <hr>
    <div class="booking_container-bottom">
      <h2>信用卡付款資訊</h2>
      <form>
        <div class="form-group">
          <label for="card-number" class="control-label">卡片號碼：</label>
          <div class="tpfield" id="card-number"></div>
        </div>
        <div class="form-group">
          <label for="card-expiration-date" class="control-label">過期時間：</label>
          <div class="tpfield" id="card-expiration-date"></div>
        </div>
        <div class="form-group">
          <label for="card-ccv" class="control-label">驗證密碼：</label>
          <div class="tpfield" id="card-ccv"></div>
        </div>
      </form>
    </div>
    <hr>
    <div class="booking_container-payment">
      <h3>總價：新台幣 <span class="total"></span> 元</h3>
      <button type="submit" id="payBtn" class="payBtn" >確認訂購並付款</button>
    </div>
  </main>
  <footer>
    COPYRIGHT © 2021 台北一日遊
  </footer>
  <!-- 登入視窗 -->
  <div id="loginModal" class="Modal">
    <div class="border-box">
      <div class="modal-content">
        <span id="loginClose" class="close"></span>
        <h2>登入會員帳號</h2>
        <!-- 登入表單 -->
        <form id="loginForm">
          <input type="email" id="loginEmail" name="email" placeholder="輸入電子信箱" required>
          <input type="password" id="loginPassword" name="password" placeholder="輸入密碼" required>
          <button type="submit">登入帳戶</button>
        </form>
        <div id="loginError" class="errorMsg"></div>
        <div class="question">
          還沒有帳戶？<a id="backToSignup">點此註冊</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 註冊視窗 -->
  <div id="signupModal" class="Modal">
    <div class="border-box">
      <div class="modal-content">
        <span id="signupClose" class="close"></span>
        <h2>註冊會員帳號</h2>
        <!-- 註冊表單 -->
        <form id="signupForm">
          <input type="text" id="signupName" name="name" placeholder="輸入姓名" required>
          <input type="email" id="signupEmail" name="email" placeholder="輸入電子信箱" required>
          <input type="password" id="signupPassword" name="password" placeholder="輸入密碼" required>
          <button type="submit">註冊新帳戶</button>
        </form>
        <div id="signupError" class="errorMsg"></div>
        <div class="question">
          已經有帳戶了？<a id="backToLogin">點此登入</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>
  <script src="/static/modal.js" type="module"></script>
  <script src="/static/booking.js" type="module"></script>
  <script src="/static/payment.js" type="module"></script>
</body>
</html>